/* El CSS anterior se mantiene */
* {
    width: 100%;
    height: auto;
}

body {
    display: flex;
    background-image: url(https://i.pinimg.com/564x/89/ff/dd/89ffdd46ccbdc97ea9733d1890b720b3.jpg);
    width: 80%;
   
    margin: 10%;
    margin-left: 20%;
    justify-content: center;
    justify-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 80%;
    position: relative
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 1.0;
    font-size: large;


}

.profile-picture {
    display: flex;

    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgProfile {
    width: 60%;
    margin-top: 18%;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.5);

}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.header h1 {
    font-size: 2rem;
    color: rgb(67, 10, 67);

}
.titles{
    font-size: 130%;
    margin: 0%;
}
.profile {
    width: 110%;
    text-align: justify;
    background-color: #E9DEFF;
    padding: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0.2, 0.5);
    margin-left: -10%;
    line-height: 1.2;
    margin-top: -2%;
    margin-bottom: 15%;
}

li {
    text-decoration: none;
    line-height: 1.5;
}



.colum1 {
    margin-right: 5%;
}

.colum2 {
    margin-left: 10%;
    margin-top: 5%;
}
h2{
    color: rgb(67, 10, 67);
}